<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../libs/jquery-3.5.1.js"></script>
    <script src="../request.js"></script>
    <link type="text/css" rel="stylesheet" href="login.css">
    <script>
        data=sendAjaxRequest("GET","http://localhost/telephone_project/Controller/mainController.php/authUser",null);
        if(data=="ok")window.location.replace("../user_account/index.html");
        data=sendAjaxRequest("GET","http://localhost/telephone_project/Controller/mainController.php/authAdmin",null);
        if(data=="ok")window.location.replace("../admin_account/index.html");
        function changeDir(id) {
            let inputName=document.getElementById(id);
            if(inputName.value===""){
                inputName.dir="rtl";
            }else{
                inputName.dir="ltr";
            }
        }
    </script>
    <title>صفحه ورود</title>
</head>
<body>
<div class="container">
    <form method="post">
        <p style="color:red;"></p>
        <div class="input-fluid">
            <span class="hiddenSpan" id="username">نام کاربری</span>
            <input class="username" type="text" name="username" id="usernameInput" maxlength="20" placeholder="نام کاربری"  onkeyup="changeDir(id)">
        </div>
        <div class="input-fluid">
            <span class="hiddenSpan" id="password">رمز عبور</span>
            <input class="password" id="passwordInput" type="password" name="password" maxlength="20" placeholder="رمز عبور"  onkeyup="changeDir(id)">
        </div>
        <input type="button" value="ارسال" id="myform">
    </form>
</div>

<script src="animateSpan.js"></script>
<script src="login.js"></script>
<script>
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    let query=getUrlVars()["registered"];
    if(query==0){
        $("p").text("کاربر گرامی ایمیل فعال سازی برای شما ارسال شد");
    }else if(query==1){
        $("p").text("ثبت نام شما با موفقیت انجام شد می توانید وارد اکانت خود شوید");
    }
</script>
</body>
</html>