body, html {
    height: 100%;
    font: 400 15px/1.8 "Lato", sans-serif;
}

/*!*.bg {*/
/*!*    background-image: url("./image/images1.jfif");*/
/*!**/
/*!*    height: 100%;*/
/*!**/
/*!*    background-position: center;*/
/*!*    background-repeat: no-repeat;*/
/*!*    background-size: cover;*/
/*!*}*/

.container{
border-radius:10px ;
padding-top: 2%;
padding-bottom: 2%;
padding-left: 10%;
margin-top: 7%;
width: 60%;
background-color: #62c5e9;
}

/*#0588cd*/
.form-group{
position: relative;
margin-top: 3%;
}

.form-control{
    padding: 20px;
    border: none;
    /*background-color: #eaeae6;*/
}

::placeholder{
    font-size: 17px;
}

.btn{
    border-radius: 4px;
    margin-top: 2%;
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 70px;
    background: grey;
    text-align: center;
}


.hiddenSpan{
    display: none; /* in unfocused state! */
    background-color: #eeeded;
}